
.text-gradient {
    background: linear-gradient(90deg,#4ca5ff 2.34%,#b673f8 100.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.joinus-section h1{
    color: #fff;
    text-align: center;
    margin: 2rem;
}
.joinus-section .flex {
    flex-direction: column;
    gap: 30px;
    text-align:center;
    border-radius: 20%;
}

@media screen and (max-width:980px) {
    .joinus-section h1 {
        font-size: 35px;
        text-align: center;
    }
}


@media screen and (max-width:400px) {
    .joinus-section h1 {
        font-size: 35px;
        text-align: center;
    }
}